<!DOCTYPE html>
<html> 
<head>
    <%- include('./partials/head') %>
    
</head>
<body>
    
    
    <%- include('./partials/nav.ejs') %>
    <h1>Keyword Counts</h1>
    
    <% if (data) { %>
        <% Object.entries(data).forEach(([keyword, data]) => { %>
            <div>
                <p>Keyword: <%= keyword %>, Count: <%= data.count %> </p>
            </div>
        <% }); %>
    <% } else { %>
        <p>No keyword counts available.</p>
    <% } %>

    <button onclick="myFunction()" style="background-color: black; color: red; width: 200px; height: 75px;">Click this to reload page and see updated results</button>

    <script >
        function myFunction() {
            location.reload();
        }
        
        
        </script>

    <h1> Lyrics: </h1>
    <%- include('./partials/lyrics.html') %>
</body>
</html>